body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
.container {
            text-align: center;
        }
.button-container {
            margin-top: 20px;
        }
button {
            font-size: 18px;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
        }
#no-btn {
            position: absolute;
            background-color:red;
        }
#yes-btn {
            background-color:green;
            }